networks:
  ses_drs_network:
    driver: bridge

services:
  ses_db:
    image: postgres:latest
    container_name: ses_drs_db
    networks:
      - ses_drs_network
    environment:
      POSTGRES_DB: donation_registration_system
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - "5432:5432"


  ses_gateway-api:
    #image: lucs5281/gateway-api:latest
    build:
      context: .
      dockerfile: Gateway/Gateway.API/Dockerfile
    container_name: ses_gateway_api
    networks:
      - ses_drs_network
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      IntegrationSettings__AuthUri: "http://ses_auth_api:8080/api/auth"
      IntegrationSettings__DonorUri: "http://ses_donor_api:8080/api/donor"
      IntegrationSettings__DonationUri: "http://ses_donation_api:8080/api/donation"
      AuthSettings__SecretKey: "U7r4p$21xT!e8qLmZ9vFgH1rS6nK0wYc"
      AuthSettings__ExpirationMinutes: "30"
    ports:
      - "8080:8080"

  ses_auth-api:
    #image: lucs5281/auth-api:latest
    build:
      context: .
      dockerfile: Auth/Auth.API/Dockerfile
    container_name: ses_auth_api
    depends_on:
      - ses_db
    networks:
      - ses_drs_network
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Database: "Host=ses_drs_db;Port=5432;Pooling=true;Database=donation_registration_system;Username=admin;Password=admin"
      AuthSettings__SecretKey: "U7r4p$21xT!e8qLmZ9vFgH1rS6nK0wYc"
      AuthSettings__ExpirationMinutes: "30"

  ses_donor-api:
    #image: lucs5281/donor-api:latest
    build:
      context: .
      dockerfile: Donor/Donor.API/Dockerfile
    container_name: ses_donor_api
    depends_on:
      - ses_db
    networks:
      - ses_drs_network
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Database: "Host=ses_drs_db;Port=5432;Pooling=true;Database=donation_registration_system;Username=admin;Password=admin"

  ses_donation-api:
    #image: lucs5281/donation-api:latest
    build:
      context: .
      dockerfile: Donation/Donation.API/Dockerfile
    container_name: ses_donation_api
    depends_on:
      - ses_db
    networks:
      - ses_drs_network
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Database: "Host=ses_drs_db;Port=5432;Pooling=true;Database=donation_registration_system;Username=admin;Password=admin"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - xpack.security.transport.ssl.enabled=false
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=elastic
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - ses_drs_network  
    depends_on:
      - ses_gateway-api
      - ses_auth-api
      - ses_donor-api
      - ses_donation-api

  ses_kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    container_name: ses_kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_SERVICEACCOUNTTOKEN=AAEAAWVsYXN0aWMva2liYW5hL2tpYmFuYS10b2tlbjpocDFwZDh2OVMwR1NOYUZMZllTb3ZB
    ports:
      - "5601:5601"       
    networks:
      - ses_drs_network  

  ses_apm-server:
    image: docker.elastic.co/apm/apm-server:8.13.4
    container_name: ses_apm_server
    depends_on:
      - elasticsearch
      - ses_kibana
    command: [
      "apm-server", 
      "-e", 
      "-E", "output.elasticsearch.hosts=http://elasticsearch:9200", 
      "-E", "output.elasticsearch.username=elastic", 
      "-E", "output.elasticsearch.password=elastic", 
      "-E", "kibana.host=http://ses_kibana:5601", 
    ]
    ports:
      - "8200:8200"
    networks:
      - ses_drs_network  

volumes:
  db-data:
  es-data: