receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
    namespace: "otelcol"

  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

  #loki:
  #  endpoint: "http://loki:3100/loki/api/v1/push"
  #  labels:
  #    job: otel-logs

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/jaeger]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]

    #logs:
    #  receivers: [otlp]
    #  processors: [batch]
    #  exporters: [loki]